############################
# Angular – compiled output
############################
dist/
tmp/
.angular/
typings/

############################
# Angular – dependencies
############################
node_modules/

############################
# Spring Boot – build output
############################
**/target/
**/build/

############################
# IDEs and Editors
############################
**/.idea/               # IntelliJ project settings
*.iml                  # IntelliJ module files
.vscode/*              # VSCode settings
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

############################
# OS / Misc
############################
.DS_Store
Thumbs.db

############################
# Angular test output
############################
coverage/
npm-debug.log
testem.log
libpeerconnection.log

############################
# Environment files
############################
.env
*.local

############################
# Logs
############################
*.log

############################
# Package lock file
############################
package-lock.json
