/* header.component.scss */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: black;
  border-bottom: 1px solid #434343;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar {
  padding: 0 1rem 0 1rem;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.login-btn {
  background-color: #7f5af0;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
