.login-container {
  background: radial-gradient(circle, #cccccc 0%, #333333 60%, #000000 100%);  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: linear-gradient(#870000, #190A05);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 2rem;
  width: 25%;
  justify-items: center;
}

.login-box h2 {
  margin-bottom: 0.5rem;
  text-align: center;
}

.login-box p {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

input {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.forgot-link {
  display: block;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: #ffffff;
  text-decoration: none;
  text-align: right;
  font-weight: bold;
}

.get-started {
  width: 100%;
  padding: 0.75rem;
  background: #ffffff;
  color: #c00606;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.social-login {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.social-login button {
  background: none;
  border: none;
  cursor: pointer;
}

.logo {
  padding-bottom: 2rem;
  background: url('/assets/images/logo.png') no-repeat center center;
  background-size: contain;   /* scales image to fit inside */
  width: 200px;               /* container size */
  height: 200px;
  opacity: 0.9;
}

.form-input {
  display: grid;
  width: 60%;
}
