<div class="login-container">
  <div class="login-box">
    <div class="logo"></div>
    <form class="form-input" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
        @if (loginForm.get('email')?.hasError('email')) {
          <mat-error>
            Invalid email format
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>

        @if (loginForm.get('password')?.hasError('required')) {
          <mat-error>
            Password is required
          </mat-error>
        }

        @if (loginForm.get('password')?.hasError('minlength')) {
          <mat-error>
            Minimum 6 characters
          </mat-error>
        }
      </mat-form-field>
      <a class="right-text" href="#">Forgot password?</a>

      <button type="submit" class="get-started" [disabled]="!loginForm.valid">Login</button>

      <div class="divider center-text"><span>Or</span></div>

      <button type="button" class="get-started" (click)="navigateToRegister()">Join our forces</button>
    </form>
  </div>
</div>
